* {
    padding: 0;
    margin: 0;
    }

HTML, BODY {
    height: 100%;
    width: 100%;
    }

BODY {
    min-height: 500px;
    min-width: 500px;
    }

.plot {
    }

.plot-1 {
    float: left;
    margin: 50px;
    }

.tooltip {
    }

.title {
    font: 14px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
    fill: #fff;
    text-anchor: middle;
    }

.subtitle {
    font: 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
    fill: #DDD;
    text-anchor: middle;
    }

.x-axis-title {
    font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
    fill: #AAA !important;
    }

.y-axis-title {
    font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
    fill: #AAA !important;
    }

.tooltip rect {
    fill: black;
    stroke-width: 2px;
    stroke: #00A9DD;
    opacity: 0.75;
    }

.tooltip text {
    fill: #fff;
    }

.dot {
    stroke: #333;
    stroke-width: 0.5px;
    }

.svg {
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    }

.axis line {
    shape-rendering: crispedges;
    stroke-opacity: 0.1;
    stroke: white;
    stroke-width: 1px;
    }

.axis text {
    fill: #999;
    }

.axis path {
    stroke: #999;
    stroke-width: 1;
    }

path {
    stroke-width: 1;
    fill: none;
    }

.graph path {
    stroke-width: 2px;
    }